body{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.45;
	color: #000;	
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: auto;
}

html{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;	
}

header{
	background: rgba(0,0,0,0.7);
	overflow: hidden;
}

.order_select .filter-option-inner-inner{
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

.order_select button{
	display: inline-block !important;
	width: auto !important;
}

.order_select .dropdown-toggle::after{
	margin-left: 0 !important;
}

.order_select{
	width: auto !important;
}

.page_lead_section{
	position: relative;
}

.breadcrumb{
	background: transparent;
}

.breadcrumb *{
	color: #fff !important;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.breadcrumb-item+.breadcrumb-item::before{
	color: #fff;
}
	
article img{
	border-radius: 8px;
}

article img.alignright{
	float: right;
	max-width: 40%;
	height: auto;
	margin-left: 1.3rem;
	margin-bottom: 1.3rem;
	margin-top: 5px;
}

article blockquote{
	display: block;
	position: relative;
	font-size: 24px;
	color: #000;
	padding: 30px 60px;
}

article blockquote:before{
	position: absolute;
	left: 0;
	top: -20px;
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	color: #0084ff;
	content: '„';
}

article blockquote:after{
	position: absolute;
	right: 0;
	bottom: -20px;
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	color: #0084ff;	
	content: '“';
}

article img.alignleft{
	float: left;
	max-width: 40%;
	height: auto;
	margin-right: 1.3rem;
	margin-bottom: 1.3rem;
	margin-top: 5px;
}

.page_lead_section .container{
	position: relative;
	z-index: 3;
}

.page_lead_section:before{
	content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 20px 140px 70px #174377;	
}

.page_lead_section.without_shadow:before{
	display: none;
}

.page_lead_section h1{
	font-weight: 800;
	font-size: 60px;
}

.page_lead_section p{
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

article *:first-child{
	margin-top: 0 !important;
}

article img{
	max-width: 100%;
	height: auto;
}

article h1, article h2, article h3, article h4, article h5, article h6{
	font-weight: bold;
	font-size: 30px;
	margin-top: 2rem;
	margin-bottom: 1.3rem;
}

article p {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

header .nav-link{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

header .nav-link:hover, header .nav-link:active, header .nav-link:focus, header .nav-link.active{
	color: #0084ff;
}

a{
	color: #0084ff;
}

.navbar-brand img{
	width: 80px;
	height: auto;
	position: relative;
	z-index: 3;
}

.navbar-brand:before{
	content: '';
	position: absolute;
	z-index: 0;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	left: 0;
	top: 0.25rem;
	box-shadow: -1px 5px 50px 28px #0084ff;
}

.header_slide{
	position: relative;
}

.home_slide{
	position: relative;
	z-index: 3;
}

.tv_program_header{
	position: absolute;
	z-index: 4;
	left: 0;
	bottom: 4rem;
	width: 100%;
	user-select: none;
}

.home_slide .item{
	height: 100vh;
	min-height: 700px;
	max-height: 800px;
	position: relative;
}

.owl-prev span, .owl-next span{
	display: none !important;
}

.owl-prev img, .owl-next img{
	width: 100%;
	height: auto;
}

.owl-prev, .owl-next{
	border: none;
	outline: none;
	display: block;
	width: 50px;
	padding: 0;
	height: 50px;
	cursor: pointer;
	background: transparent;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	z-index: 9;
	outline: none;
	box-shadow: none;
}

.navbar-toggler{
	padding: 0;
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

.navbar-toggler img{
	filter: brightness(0) invert(1);
}

.home_slide .owl-prev, .home_slide .owl-next{
	top: 88%;
	margin-top: 0;
}

.home_slide .item:before{
	content: '';
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 20px 140px 70px #174377;
}

.scroll_horizontal_tv{
	overflow-x: auto;
	overflow-y: hidden;
}

#navbarSupportedContent{
    overflow-x: hidden;
    max-height: calc(100vh - 58px);
    overflow-y: auto;	
}

.scroll_horizontal_tv::-webkit-scrollbar {
  height: 5px;
}

.mobile_read_more{
	border-bottom: 1px solid #0084ff;
	transition: all 0.3s linear;
}

.mobile_read_more.text-white{
	border-bottom: 1px solid #fff;
}

.mobile_read_more:hover, .mobile_read_more:active, .mobile_read_more:focus{
	border-bottom: 1px solid transparent;
	text-decoration: none;
}
 
.scroll_horizontal_tv::-webkit-scrollbar-track {
  background: #737b8d;
}

.live_card img{
	width: 100%;
	max-width: 36px;
	height: auto;
}
 
.scroll_horizontal_tv::-webkit-scrollbar-thumb {
  background-color: #0084ff;
}

.scroll_horizontal_tv > div{
	min-width: calc(25% - 0.78rem);
}

.home_slide .owl-dots{
	display: none;
    position: absolute;
    z-index: 9;
    width: 100%;
    text-align: center;
    bottom: 10px;
    left: 0;	
}

.home_slide .owl-dots .owl-dot{
	width: 12px;
	height: 12px;
	margin: 10px;
	border-radius: 100%;
	background: #fff;
}

.home_slide .owl-dots .owl-dot.active{
	background: #00b2ff;
}

.home_slide .item .container{
	position: relative;
	z-index: 3;
}

.owl-prev{
	left: -75px;
}

.owl-next{
	right: -75px;
}

.home_slide .badge{
	background: #ffeb3b;
	padding: 9px 12px 8px 12px;
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
}

.slide-time{
	font-weight: 800;
	font-size: 40px;
	color: #fff;
}

.slide-days{
	color: #fff;
	font-size: 20px;
	font-weight: 800;
	max-width: 150px;
	line-height: 16px;
}

.home_slide p, .home_slide_p{
	font-size: 30px;
	opacity: 0.65;
	color: #fff;
}

.home_slide h2{
	font-weight: 800;
	font-size: 60px;
	color: #fff;
}

.project_intro h2{
	font-size: 30px;
	font-weight: 800;
}

.project_intro{
	background: rgba(0, 0, 0, 0.8);
	border-radius: 6px;
}

footer{
	background: #0d47a1;
}

.footer-logo{
	width: 100%;
	max-width: 110px;
}

.search-form{
	max-width: 200px;
	margin-top: -3px;
}

.search-form .input-group{
	border-bottom: 1px solid #fff;
}

.search-form .form-control{
	height: 22px;
	border-radius: 0 !important;
	background: transparent !important;
	font-size: 16px;
	color: #fff;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
	font-family: "Roboto", sans-serif;
}	

.search-form .form-control::placeholder {
	color: #fff;
}

.search-form .btn{
	margin-top: -3px;
	margin-bottom: 3px;
}

.btn-primary{
	background: #0084ff;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 16px !important;
	transition: all 0.5s linear;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
	background: #00417d;
}

.btn-play-yellow img{
	height: 42px;
	width: auto !important;
	transition: all 0.3s linear;
}

.btn-play-yellow span{
	font-family: "Roboto", sans-serif;
	font-size: 16px;	
}

.btn-play-yellow:hover, .btn-play-yellow:active, .btn-play-yellow:focus{
	text-decoration: none;
}

.btn-play-yellow:hover span, .btn-play-yellow:active span, .btn-play-yellow:focus span{
	text-decoration: underline;
}

.btn-play-yellow:hover img, .btn-play-yellow:focus img, .btn-play-yellow:active img{
	transform: scale(1.1);
}

.tv_program_header_card{
	background: #fff;
	padding: 10px 15px;
	min-height: 100px;
	border-radius: 6px;
}

.tv_program_header_card:hover, .tv_program_header_card:active, .tv_program_header_card:focus{
	text-decoration: none;
}

.tv_program_header_card span{
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #000;
}

.tv_program_header_card.active:hover, .tv_program_header_card.active:active, .tv_program_header_card.active:focus{
	background: #00417d url('../img/yellow-play.png') no-repeat right 10px top 10px;
	background-size: 32px 32px;
}

.tv_program_header_card p{
	margin-top: 0.4rem;
	margin-bottom: 0;
	color: #000;
}

.tv_program_header_card.active{
	background: #0084ff url('../img/yellow-play.png') no-repeat right 10px top 10px;
	background-size: 32px 32px;
	transition: all 0.5s linear;
}

.tv_program_header_card.active span, .tv_program_header_card.active p{
	color: #fff;
}

.tv_program_header h3{
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.tv_program_header_archive{
	color: #fff;
	opacity: 0.65;
	border-bottom: 1px solid #fff;
}

.tv_program_header_archive:hover, .tv_program_header_archive:active, .tv_program_header_archive:focus{
	color: #fff;
	border-bottom: 1px solid transparent;
	opacity: 1;
	text-decoration: none;
}

.section-title h1, .section-title h2, .section-title h3{
	font-size: 30px;
	font-weight: 700;
}

.section-title a{
	border-bottom: 1px solid #0084ff;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

.section-title a:hover, .section-title a:active, .section-title a:focus{
	border-bottom: 1px solid transparent;
	text-decoration: none;
	color: #0084ff;
}

.grid_card{
	display: block;
}

.grid_card_img{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius: 8px;
	transition: all 0.5s linear;
}

.grid_card_img.big{
	height: 280px;
}

.grid_card_img.small{
	height: 160px;
}

.grid_card_img:before{
	position: absolute;
	content: '';
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.14);
}

.grid_card_img_meta{
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: calc(100% - 30px);
	z-index: 2;
}

.grid_card_img_meta .slide-time{
	font-size: 36px;
}

.grid_card_img_meta .slide-days{
	font-size: 19px;
}

.grid_card_img_badge{
	position: absolute;
	left: 8px;
	top: 7px;
	z-index: 3;
}

.grid_card_img_badge .badge-warning{
	font-size: 12px;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
}

.grid_card h3{
	font-size: 18px;
	font-weight: 700;
	color: #000;
}

.grid_card h3.small{
	font-size: 16px;
}

.video_live{
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	margin: -3px;
}	

.video_player{
	display: block;
	width: 100%;
	margin-top: 5px;
}

.meta_text{
	font-family: "Roboto", sans-serif;
	font-size: 12px !important;
}

.live_shedule_box{
	background: #0084ff;
	overflow: hidden;
}

.live_shedule_box.with_shadow{
	box-shadow: 0 0 10px #666;
	border-radius: 12px;
}

.grid_card > span{
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #000;
}

.grid_card:hover, .grid_card:active, .grid_card:focus{
	text-decoration: none;
}

.grid_card:hover h3, .grid_card:active h3, .grid_card:focus h3{
	text-decoration: underline;
}

.grid_card:hover .grid_card_img, .grid_card:active .grid_card_img, .grid_card:focus .grid_card_img{
	transform: scale(1.02);
}

.tv-projects-section{
	background: url('../img/tv_projects.jpg') no-repeat bottom center;
	background-size: cover;
	position: relative;
}

.tv-projects-section:before{
	content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 20px 140px 70px #174377;	
}

.tv-projects-section .container{
	position: relative;
	z-index: 3;
}

.tv-projects-section .section-title a{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.tv-projects-section .section-title a:hover, .tv-projects-section .section-title a:active, .tv-projects-section .section-title a:focus{
	border-bottom: 1px solid transparent;
	color: #fff;
}

.grid_card_img_play{
	opacity: 0.7;
	position: absolute;
	width: 46px;
	height: auto;
	left: 50%;
	top: 50%;
	margin-left: -23px;
	margin-top: -23px;
	z-index: 3;
}

.btn-primary strong{
	font-size: 30px;
	line-height: 16px;
}

.see-more-section{
	background: url('../img/see-more.jpg') no-repeat top center;
	background-size: cover;
	position: relative;
}

.see-more-section:before{
	content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 20px 140px 70px #174377;	
}

.see-more-section .container{
	position: relative;
	z-index: 3;
}

.see-more-section .section-title a{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.see-more-section .section-title a:hover, .see-more-section .section-title a:active, .see-more-section .section-title a:focus{
	border-bottom: 1px solid transparent;
	color: #fff;
}

.faces-section{
	background: #00417d;
}

.faces-section .section-title a{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.faces-section .section-title a:hover, .faces-section .section-title a:active, .faces-section .section-title a:focus{
	border-bottom: 1px solid transparent;
	color: #fff;
}

.faces-card-img{
	width: 100%;
	height: 340px;
	max-height: 80vh;
	overflow: hidden;
	border-radius: 8px;
	background: #00b7ff;
	position: relative;
	box-shadow: inset 0 20px 70px 17px #174377;
}

.faces-card-img > img{
	position: absolute;
	width: 90% !important;
	transition: all 0.5s linear;
	height: auto;
	bottom: 0;
	left: 5%;
}

.faces-card{
	display: block;
	color: #fff;
}

.faces-card:hover, .faces-card:active, .faces-card:focus{
	text-decoration: none;
	color: #fff;
}

.btn-light{
	font-size: 16px;
}

.faces-card h3{
	font-size: 20px;
	font-weight: 400;
}

.faces-card:hover h3, .faces-card:active h3, .faces-card:focus h3{
	text-decoration: underline;
}

.faces-card p{
	font-size: 12px;
	font-family: "Roboto", sans-serif;
}

.btn-secondary{
	font-family: "Roboto", sans-serif;
	font-size: 16px !important;	
}

.add_project_form .form-control{
	border: 2px solid #8996ab;
	color: #8996ab !important;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

.add_project_form .form-control::placeholder {
	color: #8996ab !important;
}

.bolder-text{
	font-size: 18px;
}

.footer-social-icon{
	width: 34px;
	height: auto;
}

footer .nav-link{
	font-size: 16px;
	color: #f5f7fa;
	font-weight: 500;
	white-space: nowrap;
}

footer .nav-link:hover, footer .nav-link:active, footer .nav-link:focus{
	text-decoration: underline;
}

.text-dark{
	color: #000;
}

.live_items{
	max-height: 266px;
	overflow-x: hidden;
	overflow-y: auto;
}

.live_items.big{
	max-height: 316px;
}

.live_card{
	border-bottom: 2px solid #fff;
}

.live_card h4{
	color: #fff;
	font-size: 16px;
}

.live_card h4{
	font-size: 24px;
	font-weight: bold;
}

.live_card p{
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}

.live_card_time{
	color: #fff;
	font-size: 24px;
	font-weight: 400;
}

.live_items::-webkit-scrollbar {
	width: 6px;
}
 
.live_items::-webkit-scrollbar-track {
	background: #fff;
	border-radius: 6px;
}
 
.live_items::-webkit-scrollbar-thumb {
	background-color: #7bbefc;
	width: 10px;
	border-radius: 6px;
}

.projects-card{
	display: block;
}

.projects-card:hover, .projects-card:active, .projects-card:focus{
	text-decoration: none;
}

.projects-card-img{
	width: 100%;
	height: 380px;
	max-height: 80vh;
	overflow: hidden;
	border-radius: 8px;
	background: #00b7ff;
	position: relative;
	transition: all 0.5s linear;
}

.projects-card:hover .projects-card-img, .projects-card:active .projects-card-img, .projects-card:focus .projects-card-img{
	transform: scale(1.02);
}

.projects-card h3{
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}

.projects-card:hover h3, .projects-card:active h3, .projects-card:focus h3{
	text-decoration: underline;
}

#promo .grid_card *{
	color: #fff;
}

.see-more-section .nav-link, .see-more-box .nav-link{
	background: transparent !important;
	border: none !important;
	color: #fff;
	font-size: 18px;
	padding: 15px 0 !important;
	margin-right: 30px !important;
	border-bottom: 3px solid #566d8a !important;
	margin-bottom: -2px;
	
}

.see-more-section .nav-tabs, .see-more-box .nav-tabs{
	border-bottom: 3px solid #566d8a !important;
}

.see-more-section .nav-link.active, .see-more-box .nav-link.active{
	color: #fff;
	border-bottom: 3px solid #0084ff !important;
}

.faces-card-img:hover > img, .faces-card-img:active > img, .faces-card-img:focus > img{
	transform: scale(1.05);
}

.btn-secondary{
	background: #b1bbc5;
	border: #b1bbc5;
}

.title_on_video{
	font-size: 24px !important;
}



.tv_program_scroll_horizontal_tv .scroll_horizontal_tv > div{
	min-width: calc(14.28% - 0.5rem);
}

.tv_program_scroll_horizontal_tv .tv_program_header_card{
	cursor: pointer;
}

.tv_program_scroll_horizontal_tv .tv_program_header_card.active{
	background: #ffeb3b;
}

.tv_program_scroll_horizontal_tv .tv_program_header_card.active *{
	color: #000;
}

.tv_program_scroll_horizontal_tv .tv_program_header_card span{
	font-size: 12px;
}

.tv_program_scroll_horizontal_tv .tv_program_header_card p{
	font-weight: 800;
	font-size: 16px;
}

.tv_program_scroll_horizontal_tv .tv_program_header_card{
	padding: 8px;
}	

.tv_program_scroll_horizontal_tv .tv_program_header_card{
	min-height: 80px;
}

.casting-section{
	background: url('../img/casting_bg.jpg') no-repeat bottom center;
	background-size: cover;
	position: relative;
}

.casting-section:before{
	content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 20px 140px 70px #174377;	
}

.casting-section .container{
	position: relative;
	z-index: 3;
}

.gallery-section{
	position: relative;
}

.gallery-section:before{
	content: '';
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 47%;
	background-size: cover;	
    background: rgba(0, 0, 0, 0.5) url('../img/tv_projects.jpg') no-repeat top -200px center;
    box-shadow: inset 0 20px 140px 70px #174377;	
}

.gallery-section .container{
	position: relative;
	z-index: 3;
}